addict==2.4.0
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.2
antlr4-python3-runtime==4.8
argbind==0.3.7
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
backcall==0.2.0
beartype==0.18.5
bitarray==2.9.2
cachetools==5.3.3
cmake==3.29.2
colorama==0.4.6
crcmod==1.7
cryptography==42.0.5
Cython==3.0.10
datasets==2.18.0
decorator==5.1.1
editdistance==0.8.1
# fairseq
filelock==3.13.4
fire==0.6.0
funasr
gast==0.5.4
google==3.0.0
hydra-core
idna==3.7
importlib_metadata==7.1.0
jaconv==0.3.4
jamo==0.4.1
jieba==0.42.1
jiwer==3.0.3
kaldiio==2.18.0
lit==18.1.3
modelscope==1.14.0
more-itertools==10.2.0
nlp2==1.8.52
openai-whisper==20231117
oss2==2.18.4
pesq==0.0.4
pickleshare==0.7.5
portalocker==2.8.2
praat-parselmouth==0.4.3
pyarrow-hotfix==0.6
pycryptodome==3.20.0
pynndescent==0.5.12
pytorch-wpe==0.0.1
rapidfuzz==3.8.1
rotary-embedding-torch==0.5.3
sacrebleu==2.4.2
simplejson==3.19.2
speechtokenizer==0.1.2
tabulate==0.9.0
tensorboardX==2.6.2.2
torch-complex==0.4.3
umap-learn==0.5.6
yapf==0.40.2
zipp==3.18.1